ul {
	margin-top: 2em;
	margin-bottom: 2em !important;
	border-radius: 34px; 
		-moz-border-radius: 34px; 
		-webkit-border-radius: 34px;
	border: 2px solid #FFC80A;
}

li {
	width: 30vw
}

.nav li a {
	color: #9FA3A7
}

.nav li .active, .nav li .active:focus, .nav li .active:hover {
	color: #000 !important;
	background-color:#FFC80A !important;
  	border-radius:1.2em;
}

.back {
  display: block;
  margin-top: 100px !important;
  margin-bottom: 70px !important;
}

b {
  color: #FFC80A !important;
}
a, a:hover {
  text-decoration: none;
  color: black;
}


table {
  margin-bottom: 100px !important;
}

.other-table tr:nth-of-type(odd) th {
  background-color: #FFC80A;
}
