

body {
	height: 100%;
	max-height: 100%
}

input[type=text], input[type=password] {
    width: 65%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;  
    text-align: left
}

label, input {
    display: block;
}

label {
    margin-bottom: 20px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

}

input[type="text"]:-ms-input-placeholder {
    text-align: left;
}
input[type="text"]::-webkit-input-placeholder {
    text-align: left;
}
input::-moz-placeholder {
 text-align: left;
}

input[type="password"]:-ms-input-placeholder {
    text-align: left;
}
input[type="password"]::-webkit-input-placeholder {
    text-align: left;
}



/* Add padding to container elements */
.container {
    padding: 16px;

}


#loginform {
	display: block;
	text-align: center
}



@media only screen and (min-width: 700px) {
	::-webkit-input-placeholder {
   		text-align: center;
   		font-size: 1.5em
	}
	#homeimage {
		height: 7em;
		width: 7em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5em;
		margin-bottom: 5em
	}

	.accountform {
		border-radius: 34px; 
		-moz-border-radius: 34px; 
		-webkit-border-radius: 34px;
		border: 2px solid #B5B8BB;
		margin-bottom: 2vw;
		width: 30em;
		height: 3em
	}

	#rememberlabel {
		display: inline
	}

	#tbl {
		display: table;
		width: 55%;
		margin-left: auto;
		margin-right: auto;
	}

	#tblrow {
		display: table-row;
	}

	#tblcol-1 {
		display: table-cell
	}

	#tblcol-2 {
		display: table-cell
	}

	#loginbtn {
		width: 10em;
		height: 3em;
		border-radius: 34px; 
		-moz-border-radius: 34px; 
		-webkit-border-radius: 34px;
		border: 2px solid #FFC80A;
		background-color: #FFC80A;
		font-size: 1em;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
		color: black;
	}
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700");

body{
	width:100% !important;
	background-color:white;
	overflow-x:hidden
}
.nav-head{
	border:1px solid #FFC80A;
	border-radius:1.2em;
	width:120%;
	margin:30px auto;
}

.nav-head ul{
	margin:0;
	padding:0;
	display:table;
	width:100%; 
}

.nav-head ul li{
	display:table-cell;
}

.nav-head ul li a{
	padding:.7em 0 .7em 0;
	display:block;
	text-align:center;
	text-decoration:none;
	color:#9FA3A7;
	font-size:.7em;
	font-family:"Montserrat",sans-serif;
	font-weight:700;
}

.nav-head ul li .active{
	background-color:#FFC80A;
	border-radius:1.2em;
	color:#000;
}


/* ----------------------------- */

.nav-head2{
	border:1px solid #FFC80A;
	border-radius:1.2em;
	width:40%;
	margin:30px auto;
}

.nav-head2 ul{
	margin:0;
	padding:0;
	display:table;
	width:100%; 
}

.nav-head2 ul li{
	display:table-cell;
}

.nav-head2 ul li a{
	padding:.7em 0 .7em 0;
	display:block;
	text-align:center;
	text-decoration:none;
	color:#9FA3A7;
	font-size:.7em;
	font-family:"Montserrat",sans-serif;
	font-weight:700;
}

.nav-head2 ul li .active{
	background-color:#FFC80A;
	border-radius:1.2em;
	color:#000;
}


